*.iml
*.ipr
*.iws
*.ids
*.log
.project
target/
.DS_Store
packages/
node/
node_modules/
bower_components/
coverage/
pubspec.lock
.idea/
.gradle/
build/
npm-debug.log
exploded/
thirdparty/
/.nb-gradle/
.classpath
.settings/
